.main-calculator {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.row {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: auto;
}

.calculator-wrapper button {
  border: 1px solid #d1d1d1;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}

.color {
  background-color: #f5913e;
}

.mini {
  grid-column: span 2;
}

input {
  text-align: right;
  margin: 40px 0 0 0;
  font-size: 45px;
}

.header {
  margin: 0;
  text-align: right;
  width: 313px;
  height: 40px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #858694;
}

.quote-container,
.Data-container,
.Header-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 3vw;
  padding: 15%;
  padding-right: 2%;
  font-size: x-large;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 3px solid #000;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 20%;
  list-style-type: none;  
}

.list_item {
  margin: 0 0.5rem;
}

.nav {
  padding-left: 20%;
  padding-right: 20%;
}

p {
  font-weight: 900;
  font-size: 20px;
  color: #000;
  margin: 0 10px;
}

h4 {
  justify-content: start;
}

.head {
  color: #000;
  margin-left: 40%;
  font-size: x-large;
}

a {
  text-decoration: none;
}
