.main-calculator {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.row {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: auto;
}

.calculator-wrapper button {
  border: 1px solid #d1d1d1;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}

.color {
  background-color: #f5913e;
}

.mini {
  grid-column: span 2;
}

input {
  text-align: right;
  margin: 40px 0 0 0;
  font-size: 45px;
}

.header {
  margin: 0;
  text-align: right;
  width: 313px;
  height: 40px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #858694;
}
